.event-list__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: auto;
    justify-content: space-evenly;
    padding: 16px;
}

.event-list__wrapper{
    display: flex;
    flex-direction: column;
    border: 2px solid #4a4a4a;
    width: 50%;
    align-items: center;
}

.list-heading{
    font-size: 22px;
    line-height: 24px;
    font-family: lato;  
    font-weight: 700;
    margin-top: 16px;
}